.column{
    margin: 0 auto;
    width: fit-content;
}

.media-content{
    overflow: unset;
}

.card-title, .card-footer{
    width: 230px;
    border: none;
    line-height: 1.325;
}

.button.is-medium {
    font-size: 1.15rem;
}