

.modal-card-body div.container{
    transition: opacity 1s ease, visibility 0s;
    opacity: 0; 
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.modal-card-body div.container.is-active{
    opacity: 1;
    visibility: visible;
    height: auto;
}

